# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Flutter build outputs
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.podspec

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
